### From Data to Product: Layoff Data & Startup Job Discovery
This notebook demonstrates how to process layoff data and visualize startup job opportunities for tech workers and recruiters.

#### 1. Import Required Libraries
Import the necessary libraries for data processing and visualization.

In [1]:
# Import Required Libraries
import pandas as pd
import plotly.express as px

#### 2. Load Layoff Data
Load layoff data from the provided Excel file in the data directory.

In [5]:
# Load layoff data from Excel
layoff_df = pd.read_csv('../data/WARN Database 2025.csv')
layoff_df.head()

,State,Company,City,Number of Workers,WARN Received Date,Effective Date,Closure / Layoff,Temporary/Permanent,Union,Region,County,Industry,Notes
0,South Carolina,Tupperware,Hemingway,46,06/11/2025,09/28/2024-01/14/2025,Layoff,Permanent,NaN,NaN,Williamsburg,NaN,"248 Tupperware Rd., Hemingway, SC 29554"
1,Texas,XiFin,Austin,87,06/04/2025,05/29/2025,NaN,NaN,NaN,Capital Area WDA,Travis,NaN,NaN
2,Texas,Eckerd Connects (David Carrasco Job Corps),El Paso,77,06/04/2025,06/13/2025,NaN,NaN,NaN,Borderplexjobs WDA,El Paso,NaN,NaN
3,Texas,Sunnova Energy Corporation,Houston,NaN,06/03/2025,05/30/2025,NaN,NaN,NaN,Gulf Coast WDA,Harris,NaN,NaN
4,Texas,JC Penney (Allaince Supply Chain),Haslet,296,06/03/2025,08/01/2025,NaN,NaN,NaN,Tarrant County WDA,Tarrant,NaN,NaN

#### 3. Visualize Layoffs by State
Create a tree map to highlight the top five states with the largest number of tech layoffs.

In [14]:
# Filter for tech layoffs from company names like 'Google', 'Amazon', 'Meta', etc.
tech_keywords = ['Google', 'Amazon', 'Meta', 'Microsoft', 'Apple', 'Twitter']
layoff_df = layoff_df[layoff_df['Company'].str.contains('|'.join(tech_keywords), case=False, na=False)]
# Display the first few rows of the filtered DataFrame
layoff_df.head()
# save to CSV
layoff_df.to_csv('../data/tech_layoffs_2025.csv', index=False)

In [ ]:
# fig = px.bar(
#     layoff_df,
#     x='Company',
#     color_continuous_scale=px.colors.sequential.Viridis
# )
# fig.show()

ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['State', 'Company', 'City', 'Number of Workers', 'WARN Received Date', 'Effective Date', 'Closure / Layoff', 'Temporary/Permanent', 'Union', 'Region', 'County', 'Industry', 'Notes'] but received: Number of Employees Laid Off