### From Data to Product: Layoff Data & Startup Job Discovery
This notebook demonstrates how to process layoff data and visualize startup job opportunities for tech workers and recruiters.

#### 1. Import Required Libraries
Import the necessary libraries for data processing and visualization.

In [6]:
# Import Required Libraries
import pandas as pd
import plotly.express as px
import numpy as np

#### 2. Load Layoff Data
Load layoff data from the provided Excel file in the data directory.

In [2]:
# Load layoff data from Excel
layoff_df = pd.read_csv('../data/WARN Database 2025.csv')
layoff_df.head()

,State,Company,City,Number of Workers,WARN Received Date,Effective Date,Closure / Layoff,Temporary/Permanent,Union,Region,County,Industry,Notes
0,South Carolina,Tupperware,Hemingway,46,06/11/2025,09/28/2024-01/14/2025,Layoff,Permanent,NaN,NaN,Williamsburg,NaN,"248 Tupperware Rd., Hemingway, SC 29554"
1,Texas,XiFin,Austin,87,06/04/2025,05/29/2025,NaN,NaN,NaN,Capital Area WDA,Travis,NaN,NaN
2,Texas,Eckerd Connects (David Carrasco Job Corps),El Paso,77,06/04/2025,06/13/2025,NaN,NaN,NaN,Borderplexjobs WDA,El Paso,NaN,NaN
3,Texas,Sunnova Energy Corporation,Houston,NaN,06/03/2025,05/30/2025,NaN,NaN,NaN,Gulf Coast WDA,Harris,NaN,NaN
4,Texas,JC Penney (Allaince Supply Chain),Haslet,296,06/03/2025,08/01/2025,NaN,NaN,NaN,Tarrant County WDA,Tarrant,NaN,NaN

In [3]:
# Filter for tech layoffs from company names like 'Google', 'Amazon', 'Meta', etc.
tech_keywords = ['Google', 'Amazon', 'Meta', 'Microsoft', 'Apple', 'Twitter']
layoff_df = layoff_df[layoff_df['Company'].str.contains('|'.join(tech_keywords), case=False, na=False)]
# Display the first few rows of the filtered DataFrame
layoff_df.head()
# save to CSV
layoff_df.to_csv('../data/tech_layoffs_2025.csv', index=False)

In [ ]:
# remove col union, region and notes
layoff_df = layoff_df.drop(columns=['Union', 'Region', 'Notes'], errors='ignore')
# Display the first few rows of the cleaned DataFrame  
layoff_df.head()
# Count the number of layoffs in Washington
washington_layoffs = layoff_df[layoff_df['State'] == 'Washington'].shape[0]
# print number of layoffs from the consolidated csv
print(f"Number of layoffs in Washington: {washington_layoffs}")

Number of layoffs in Washington: 2

In [20]:
# filter for layoffs in california
california_layoffs = layoff_df[layoff_df['State'] == 'California']
# print number of layoffs from the consolidated csv
print(f"Number of layoffs in California: {california_layoffs.shape[0]}")
# save to csv
california_layoffs.to_csv('../data/tech_layoffs_ca_2025.csv', index=False)

Number of layoffs in California: 17

#### 4. Load WA Tech Layoffs Data from TXT
textfile taken from the government website
This section demonstrates how to read the tab-delimited WA tech layoffs text file, convert it to CSV, and load it into a pandas DataFrame.

In [13]:
# --- New Section: Load WA Tech Layoffs Data from TXT ---
import pandas as pd

# Convert tab-delimited text file to DataFrame
wa_txt_path = '../data/tech_layoffs_wa.txt'
wa_csv_path = '../data/tech_layoffs_wa.csv'

# Read the tab-delimited file and save as CSV
wa_df = pd.read_csv(wa_txt_path, delimiter='\t')
wa_df.to_csv(wa_csv_path, index=False)

# Read the new CSV file into a DataFrame
wa_csv_df = pd.read_csv(wa_csv_path)
wa_csv_df.head()

,Company,Location,Layoff Start Date,# of Workers,Closure Layoff,Type of Layoff,Received Date
0,"Meta Platforms, Inc",Seattle,1/13/2023,419,Layoff,Permanent,11/11/2022
1,"Meta Platforms, Inc",Bellevue,1/13/2023,307,Layoff,Permanent,11/11/2022
2,Amazon,Tukwila,8/1/2024,172,Closure,Permanent,5/31/2024
3,Amazon,"Seattle, Bellevue",3/19/2023,2320,Layoff,Permanent,1/18/2023
4,Amazon Health Services,Seattle,12/1/2022,159,Closure,Permanent,9/7/2022

In [15]:
# filter for layoffs in 2025
# convert start date to a time format
wa_csv_df['Layoff Start Date'] = pd.to_datetime(wa_csv_df['Layoff Start Date'], errors='coerce')
# filter for layoffs in 2025
wa_csv_df = wa_csv_df[wa_csv_df['Layoff Start Date'].dt.year == 2025]
# print how many layoffs in 2025
print(f"Number of layoffs in Washington in 2025: {wa_csv_df.shape[0]}")
# Display the first few rows of the filtered DataFrame
wa_csv_df.head()

Number of layoffs in Washington in 2025: 2

,Company,Location,Layoff Start Date,# of Workers,Closure Layoff,Type of Layoff,Received Date
5,Microsoft,Redmond,2025-08-01,305,Layoff,Permanent,6/2/2025
6,Microsoft,Redmond,2025-07-12,1985,Layoff,Permanent,5/13/2025